
@{
    ViewBag.Title = "关于我们";
}
@section scripts_or_links{
    <style type="text/css">
        body { font-size: 12px; }
        .header-images img { width: 100%; }
        .introducer-content p { text-indent: 2em; }
        .company-name { text-align: center; font-weight: bold;margin:20px 0; }
    </style>
}
<div class="container-fluid">
    <div class="header-images">
        <img src="~/assets/images/about.jpg" />
    </div>
    <div class="introducer-content">
        <div class="company-name">中国首家移动金融电子商务应用综合性商业项目孵化平台</div>
        <div class="conpany-introduce">
            <p style="padding:0;margin:0;text-indent:2em;">
                深圳乾海盛世移动支付有限公司成立于2013年10月30日，注册资本3149万元。公司于2013年12月被授予“中国AAA级信用企业”、“中国金融服务行业AAA级诚信单位”、“中国AAA质量服务诚信单位”、“CSR8000企业社会责任管理体系认证”称号。
            </p>
            <p style="padding:0;margin:0;text-indent:2em;">
                公司依托移动智能支付终端，创新性地成立了中国首家移动金融电子商务应用平台——英雄会，并获得国家高新技术企业认证。目前已形成从研发、生产、销售、品牌策划推广、影视制作及发布等全套的运营体系。
            </p>
            <p style="padding:0;margin:0;text-indent:2em;">
                英雄会——汇聚全国百万企业精英，助力中小企业发展，为他们提供线上产品销售，线下产品招商及投融资需求服务，为他们搭建渠道，更为创业者提供平台。
            </p>
            <p style="padding:0;margin:0;text-indent:2em;">
                2018年公司联合银行、基金公司、金融机构、战略合作机构等，借助互联网+的创新思维，启动免费投放300万台移动智能支付终端计划，预计营业额将突破200亿！
            </p>
            <p style="padding:0;margin:0;text-indent:2em;">
                英雄会依托大众创业，万众创新的理念，以分享经济为核心，励志打造中国民族移动金融电商第一品牌！
            </p>
        </div>
    </div>
</div>

