@model Winner.Protocols.Protocol
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Proto_Name</title>
</head>
<body>
    @Html.Raw(Model.Content_Text)
</body>
</html>

