@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册协议</title>
</head>
<body>
    <div>
        <h2 style="text-align:center;">英雄会注册协议</h2>
    </div>
    <div class="protocol-content">
        <section>
            <h4>【首部及导言】</h4>
            <p>欢迎您注册成为英雄会会员！</p>
            <p style="text-indent:2em;">
                为使用英雄会服务，您应当阅读并遵守《英雄会注册协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制或免除责任条款可能以加粗形式提示您注意。一旦注册成功，则用户与英雄会之间自动形成协议关系，用户应当受本协议的约束。用户在使用特殊的服务或产品时，应当同意接受相关协议后方能使用。 
                除非您已阅读并接受本协议所有条款，否则您无权使用英雄会服务（以下简称“本服务”）。您对本服务的登录、查看、发布信息等使用行为即视为您已阅读并同意本协议的约束。
                如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。
                英雄会的所有权和运营权归深圳乾海盛世移动支付有限公司所有。 
            </p>
            <p style="text-indent:2em;">
                本协议可由英雄会随时更新，用户应当及时关注并同意本站不承担通知义务。本站的通知、公告、声明或其它类似内容是本协议的组成部分。
            </p>
        </section>
        <section>
            <h4>一、【协议的范围】</h4>
            <p>1.1 本协议是您与英雄会之间关于您使用英雄会服务所订立的协议。</p>
            <p>1.2 英雄会的具体内容由本站根据实际情况提供。 </p>
            <p>
                1.3本站仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。
            </p>
        </section>
        <section>
            <h4>二、【用户帐号】</h4>
            <p>2.1 经本站注册系统完成注册程序并通过身份认证的用户即成为正式用户，可以获得本站规定用户所应享有的一切权限；未经认证仅享有本站规定的部分会员权限。英雄会有权对会员的权限设计进行变更。 </p>
            <p>2.2 用户只能按照注册要求使用真实姓名，及身份证号注册。用户有义务保证密码和帐号的安全，用户利用该密码和帐号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，本站不承担任何责任。如用户发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要，请通知本站。因黑客行为或用户的保管疏忽导致帐号非法使用，本站不承担任何责任。</p>
        </section>
        <section>
            <h4>三、【用户个人信息保护】</h4>
            <p>3.1 您在申请本服务过程中，需要填写一些必要的信息，请保持这些信息的及时更新，以便英雄会向您提供帮助，或更好地为您提供服务。根据国家相关法律规定，使用英雄会服务需要您提交真实的身份信息，若您提交的身份信息不完整或不准确，则可能无法使用服务或在使用过程中受到限制。</p>
            <p>3.2 本站不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在本站的非公开内容，但下列情况除外：<p>
            <p>(1)事先获得用户的明确授权； </p>
            <p>(2)根据有关的法律法规要求；</p>
            <p>(3)按照相关政府主管部门的要求；</p>
            <p>(4)为维护社会公众的利益。</p>
            <p>3.3 本站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本站同等的保护用户隐私的责任，则本站有权将用户的注册资料等提供给该第三方。</p>
            <p>3.4 在不透露单个用户隐私资料的前提下，本站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
            <p>3.5 为更好的保护您的个人信息，您应尽快、充分了解本服务的相关功能、规则和设置，同时，英雄会可能会将您的个人信息的公开范围默认设置为公开，该默认设置会导致他人接触或获取您的个人信息；如您希望变更默认设置，请您在相关服务页面予以变更。</p>
            <p>3.6 您充分理解并同意：英雄会可对您的昵称、头像以及使用本服务过程中的相关操作信息进行使用，并可根据本服务的功能向您本人及其他特定您进行展示，例如向您提供广告信息等商业内容。</p>
        </section>
        <section>
            <h4>四、【使用规则】</h4>
           <p>4.1 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。</p>
            <p>4.2 您充分了解并同意，英雄会仅为您提供信息分享、传播及获取的平台。您必须为自己注册帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对英雄会中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。英雄会无法且不会对因前述风险而导致的任何损失或损害承担责任。</p>
            <p>4.3 您充分了解并同意，英雄会是一个信息分享、传播及获取的平台。您通过英雄会发布的信息为公开的信息，其他第三方均可以通过英雄会的平台获取您发布的信息，您对任何信息的发布即认可该信息为公开的信息，并单独对此行为承担法律责任；英雄会可能对您公开发布的信息进行使用。</p>
            <p>4.4 您须对在英雄会上的注册信息的真实性、合法性、有效性承担全部责任，您不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐号导致他人误认；否则英雄会有权立即停止提供服务，收回英雄会帐号并由您独自承担由此而产生的一切法律责任。</p>
            <p>4.5 您充分了解并同意因业务发展需要，英雄会保留单方面对本服务的全部或部分服务内容在任何时候不经任何通知的情况下变更、暂停、限制、终止或取消英雄会服务的权利，您需承担此风险。</p>
            <p>4.6 用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本站任何页面发布、转载、传送含有下列内容之一的信息，否则本站有权自行处理并不通知用户：</p>
            <p>(1) 违反宪法确定的基本原则的； </p>
            <p>(2) 危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的； </p>
            <p>(3) 损害国家荣誉和利益的； </p>
            <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的； </p>
            <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的； </p>
            <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
            <p>(7) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的； </p>
            <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的； </p>
            <p>(9) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的； </p>
            <p>(10) 以非法民间组织名义活动的；</p>
            <p>(11) 发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</p>
            <p>(12) 虚构事实、隐瞒真相以误导、欺骗他人</p>
            <p>(13) 从事其他违反法律法规、政策及公序良俗、社会公德等的行为。</p>
            <p>4.7 用户必须充分了解并同意：</p>
            <p>(1)不得为任何非法目的而使用网络服务系统； </p>
            <p>(2)遵守所有与网络服务有关的网络协议、规定和程序；</p>
            <p>(3)不得利用本站进行任何可能对互联网的正常运转造成不利影响的行为； </p>
            <p>(4)不得利用本站进行任何不利于本站的行为。</p>
            <p>4.8  用户承诺对其发表或者上传于本站的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本站被第三人索赔的，用户应全额补偿本站一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)。</p>
            <p>4.9  当第三方认为用户发表或者上传于本站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本站发送权利通知书时，用户同意本站可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本站将不会自动恢复上述删除的信息；</p>
            <p>4.10 如用户在使用网络服务时违反上述任何规定，本站有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。</p>
            <p>4.11 您违反本条约定，导致任何第三方损害的，您应当独立承担责任；英雄会因此遭受损失的，您也应当一并赔偿。</p>
            <p>4.12 如果您的服务被终止或取消，英雄会可以从服务器上永久地删除您的数据。服务终止或取消后，英雄会没有义务向您返还数据。</p>
        </section>
        <section>
            <h4>五、【帐号使用规范】</h4>
            <p>5.1 英雄会帐号的所有权归英雄会所有，您完成申请注册手续后，获得英雄会帐号的使用权，该使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。</p>
            <p>5.2 您有权更改、删除您在英雄会上的个人资料、注册信息及发布内容等，但需注意，删除有关信息的同时也会删除任何您储存在英雄会服务器中的文字和图片。您需承担该风险。</p>
            <p>5.3 您有责任妥善保管注册帐号信息及帐号密码的安全，您需要对注册帐号以及密码下的行为承担法律责任。您同意在任何情况下不使用其他用户的帐号或密码。在您认为他人在使用您的帐号时，您应立即通知英雄会。</p>
            <p>5.4 您注册英雄会帐号后如果长期不登录使用该帐号，英雄会有权回收该帐号，以免造成资源浪费，由此带来问题均由您自行承担。</p>
        </section>
        <section>
            <h4>六、【第三方产品和服务】</h4>
            <p>6.1 本服务可能包含第三方提供的产品或服务。当您使用第三方提供的产品或服务时，可能会另有相关的协议或规则，您同样应当认真阅读并遵守。</p>
            <p>6.2 如您在使用第三方产品或服务时发生任何纠纷的，请您与第三方直接联系，英雄会不承担任何责任，但根据需要会依法提供必要的协助。</p>
        </section>
        <section>
            <h4>七、【本服务的软件形式】</h4>
            <p>若英雄会通过软件形式提供本服务的，英雄会和您还应遵守本条款的以下约定。</p>
            <p>7.1 英雄会可能为不同的终端设备开发不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。</p>
            <p>7.2 您可以直接从英雄会的网站上获取软件，也可以从得到英雄会授权的第三方获取。如果您从未经英雄会授权的第三方获取软件或与软件名称相同的安装程序，英雄会无法保证该软件能够正常使用，并对因此给您造成的损失不予负责。</p>
            <p>7.3 为了增进您体验、完善服务内容，英雄会将不时提供软件更新（这些更新可能会采取软件替换、修改、功能强化、版本升级等形式）。为了改善您体验，并保证服务的安全性和功能的一致性，英雄会有权不经向您特别通知而对软件进行更新，或者对软件的部分功能效果进行改变或限制。</p>
            <p>7.4 软件新版本发布后，旧版软件可能无法使用。英雄会不保证旧版软件继续可用及相应的客户服务，请您随时核对并下载最新版本。</p>
            <p>7.5 除非法律允许或英雄会书面许可，您不得从事下列行为：</p>
            <p>(1)删除软件及其副本上关于著作权的信息；</p>
            <p>(2)对软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试发现软件的源代码；</p>
            <p>(3)对英雄会拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</p>
            <p>(4)对软件或者软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经英雄会授权的第三方工具/服务接入软件和相关系统；</p>
            <p>(5)通过修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；</p>
            <p>(6)通过非英雄会开发、授权的第三方软件、插件、外挂、系统，登录或使用英雄会软件及服务，或制作、发布、传播上述工具；</p>
            <p>(7)其他未经英雄会明示授权的行为。如果您实施了前款约定的行为，英雄会将保留依法追究法律责任的权利。</p>
        </section>
        <section>
            <h4>八、【版权声明】</h4>
            <p>8.1 本站的文字、图片、音频、视频等版权均归深圳乾海盛世移动支付有限公司或与作者共同享有，未经本站许可，不得任意转载。 </p>
            <p>8.2 本站特有的标识、版面设计、编排方式等版权均属永兴元科技有限公司享有，未经本站许可，不得任意复制或转载。 </p>
            <p>8.3 使用本站的任何内容均应注明“来源于英雄会”及署上作者姓名，按法律规定需要支付稿酬的，应当通知本站及作者及支付稿酬，并独立承担一切法律责任。</p>
            <p>8.4 本站享有所有作品用于其它用途的优先权，包括但不限于网站、电子杂志、平面出版等，但在使用前会通知作者，并按同行业的标准支付稿酬。</p>
            <p>8.5 本站所有内容仅代表作者自己的立场和观点，与本站无关，由作者本人承担一切法律责任。 </p>
            <p>8.6 恶意转载本站内容的，本站保留将其诉诸法律的权利。</p>
        </section>
        <section>
            <h4>九、【责任声明】</h4>
            <p>9.1 用户明确同意其使用本站网络服务所存在的风险及一切后果将完全由用户本人承担，英雄会对此不承担任何责任。 </p>
            <p>9.2 本站无法保证网络服务一定能满足用户的要求，也不保证网络服务的及时性、安全性、准确性。 </p>
            <p>9.3 本站不保证为方便用户而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本站实际控制的任何网页上的内容，本站不承担任何责任。</p>
            <p>9.4 对于因不可抗力或本站不能控制的原因造成的网络服务中断或其它缺陷，本站不承担任何责任。</p>
            <p>9.5 对于站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本站无需承担任何责任：</p>
            <p>(1)本站向用户免费提供的各项网络服务； </p>
            <p>(2)本站向用户赠送的任何产品或者服务。</p>
            <p>9.6本站有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本站对用户和任何第三人均无需承担任何责任。</p>
        </section>
        <section>
            <h4>十、【其他】</h4>
            <p>10.1 您使用本服务即视为您已阅读并同意受本协议的约束。英雄会有权在必要时修改本协议条款。您可以在相关页面中查阅最新的协议条款。本协议条款变更后，如果您继续使用本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本服务。</p>
            <p>10.2 本协议签订地为中华人民共和国广东省深圳市宝安区。</p>
            <p>10.3 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
            <p>10.4 若您和英雄会之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
            <p>10.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
            <p>10.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
        </section>
    </div>
</body>
</html>
