<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Javirs.Common" version="2.6.16" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" />
  <package id="NPOI" version="1.2.3" targetFramework="net46" />
  <package id="winner.core" version="1.2.1" targetFramework="net46" />
  <package id="winner.log" version="1.0.0" targetFramework="net46" />
</packages>