<!-- 未登录的授权UI -->
<div class="row form-horizetol">
    <div class="col-xs-12 col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3">账号</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="user_code" id="user_code" class="col-xs-12" placeholder="" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 form-group">
        <label class="col-xs-12 col-sm-3">密码</label>
        <div class="col-sm-9 col-xs-12">
            <input type="password" name="login_pwd" id="login_pwd" class="col-xs-12" placeholder="" />
        </div>
    </div>
    <div class="col-xs-12">
        <button type="submit" class="btn-sm btn btn-primary" id="btnLogin">
            <i class="icon-ok"></i>
            登录并授权
        </button>
    </div>
</div>